#one{
	width:80%;
	height:400px;
	margin-left: 10%;
	margin-bottom: 20px;
	}
th{
	width:666.4px;
	height:15px;
	margin-left: 10%;
	border: 1px solid black;
		}
	.flower{
		width: 32%;
		height: 400px;
		margin-left: 10px;
		margin-top:20px;
		float: left;
			}
